@charset "UTF-8";

#adminTitle{
	 font-family: Hanna !important;
	 color: #454a7b 
}


#design{
	 font-family: Hanna !important;
}

html{
    height:100%;
}

body{
    margin: 0px;
    height:100%;
}

.main{
    height:100%;
    width: 100%;
}

 
.d-none{
    display: none;
}

.board{
	border-top:2px solid lightgray;
    width: 1200px;
    height: 100%;
    margin: auto;
    
}
 

.table{
    font-size :19px;
    border-collapse: collapse;
    width: 1200px;
    margin-top:200px;
    border: 7px solid #454a7b;    
    text-align: center;
    display: center;    
}

.thead td {
    background: #B2B2B2;
}


td{
    height: 40px;
    border-bottom:2px solid black;
}

tr td:nth-child(2){
    width: 750px;

}

/* ********페이징******** */

.page-nation li{ 
    list-style: none;

} 

.page-wrap {
    text-align:center;
    font-size:0;

 }

.page-nation  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;

}
 

.page-nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:black;
    text-decoration:none;
    font-weight:bold;

}

.page-nation a:hover{
    background-color:gray;
    color:white;

}


