@charset "UTF-8";

section{
	width: 70%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#designContainer{
	width: 100%;
}

#adminTitle{
	text-align : center;
	font-size: 30px;
}

#searchDesign{
	background-color: #fff;
	color: #474680;
	border: 4px solid lightgray;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

#searchBtn{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

#designBtn {
	width: 100%;
	text-align: right;
	padding: 10px 0;
}

#designPlus{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

#designChange{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

.table{
	width: 100%;
    font-size :19px;
	border-radius: 20px;
    /*border: 7px solid #454a7b;*/
    text-align: center;
    display: center;    
}

th {
    height: 40px;
    border-bottom:2px solid black;
}

.img {
	width: 50%;
}
