@charset "UTF-8";

section{
	width: 70%;
	text-align: center;
	padding-top: 40px;
}

div {
	margin: auto;
}

#adminTitle{
	text-align : center;
	font-size: 30px;
}

#styleButton{
	width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
	/* background-color: #5F5DA6; */
	border: 2px solid #212E40;
	border-radius: 50px;
}

.styleBtn {
	width: 100%;
	padding: 5px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
    color: #909090;
    border: none;
    font-size: 15px;
}

.styleBtnClick {
    color: #212E40;
}

#styleFontBtn {
	border-right: 2px solid #212E40;
}


#search-container {
	width: 100%;
	padding-top: 20px;
	justify-content: center;
	display: flex;
}

#search-container button {
	padding: 5px 10px;
	background-color: #212E40;
	color: #fff;
	border-radius: 50px;
	border: none;
}

#searchBtn{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 20px;
}


.table{
	width: 100%;
    font-size :19px;
	border-radius: 20px;
    text-align: center;
    display: center;    
}


/* fontList */
.fontContainer{
	width: 100%;
	padding-bottom: 20px;
}

#fontPlusDiv {
	width: 100%;
	text-align: right;
	padding: 10px 0;
}

#fontplus{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

#fontchange{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}


/* fontEnroll & fontUpdate */
.modalBack {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: relative;
	display: inline-block;
	width: 500px;
	height: 400px;
	top: 5%;
	text-align: center;
	background-color: #fff;
	border: none;
	border-radius: 25px;
	color: #454a7b;
}

.designModal {
	height: 600px;
	top: 2%;
}

.modalTitle {
	padding: 30px 10px;
	text-align: center;
	font-size: 30px;
	margin: 0px;
	font-weight: bold;
	color: #454a7b;
	color: #454a7b;
}

.modalClose {
	position: absolute;
	top: 35px;
	right: 30px;
	font-size: 20px;
}

.modalClose:hover {
	cursor: pointer;
}

.modalDiv {
	width: 80%;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	border-radius: 10px;
}

.designModalDiv {
	height: 75%;
}

#fontEnrollFrm, #fontUpdateFrm {
	font-size: 20px;
}

.modalTable th {
	border: none;
}

.modalTable tr {
	height: 40px;
}

.modalTable td {
	padding: 0px 5px;
}

.uploadImg {
	width: 200px;
}

.modalBtn {
	padding: 5px;
	border: none;
	font-size: 20px;
}

.modalBtn:hover {
	cursor: pointer;
}



/* ********페이징******** */

.page-nation li{ 
    list-style: none;
    display: center;
} 

.page-wrap {
    text-align:center;
    font-size:0;
 }

.page-nation  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
 

.page-nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:black;
    text-decoration:none;
    font-weight:bold;
}

.page-nation a:hover{
    background-color:gray;
    color:white;
}


/* adminDesign */
label[for=searchType] {
	padding-top: 3px;
	font-size: 15px;
}

#searchType {
	margin-left: 2px;
	width: 50px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
}

#designContainer {
	width: 100%;
	padding-bottom: 20px;
}

#designBtn {
	width: 100%;
	text-align: right;
	padding: 10px 0;
}

#designPlus{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

#designChange{
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
}

.img {
	width: 300px;
}
