@charset "UTF-8";

section {
	display: inline;
	width: 70%;

}

#link {
	text-decoration: none;
	border: none;
	color: #000;
}

#adminTitle {
	padding-top: 50px;
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
}

#search-container {
	padding-top: 20px;
	text-align: center;
}

#search-container button {
	padding: 5px 10px;
	background-color: #212E40;
	color: #fff;
	border-radius: 50px;
	border: none;
}

#admin-list {
	margin: 20px 0px;
	font-size: 15px;
}

.admin-list-table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #000;
    border-collapse: collapse;*/
}

.admin-list-table th {
	border-bottom: 1px solid #000;
	
}

.admin-list-table td {
	text-align: center;
}

.btnFrm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.memberBtn {
	margin: 2px;
	padding: 5px 10px;
	background-color: #212E40;
	color: #fff;
	border-radius: 50px;
	border: none;
}

.chatBtn, .csBtn {
	margin: 2px;
	padding: 5px 10px;
	background-color: #212E40;
	color: #fff;
	border-radius: 50px;
	border: none;
}

.adminImage {
	width: 50px;
	border-radius: 50%;
}


input[type=number]::-webkit-inner-spin-button {
   opacity: 1;
}


.modalBack {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: relative;
	display: inline-block;
	width: 500px;
	height: 400px;
	top: 5%;
	text-align: center;
	background-color: #fff;
	border: none;
	border-radius: 25px;
	color: #454a7b;
}

.fontModal {
	top: 10%;
}

.chatModal {
	height: 600px;
	top: 2%;
}

.modalTitle {
	padding: 30px 10px;
	text-align: center;
	font-size: 30px;
	margin: 0px;
	font-weight: bold;
	color: #454a7b;
	color: #454a7b;
}

.modalClose {
	position: absolute;
	top: 35px;
	right: 30px;
	font-size: 20px;
}

.modalClose:hover {
	cursor: pointer;
}

.modalDiv {
	width: 80%;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color:rgb(238, 238, 238);
	color: #474680;
	border: 4px solid #474680;
	font-size: 18px;
	border-radius: 10px;
}

.chatModalDiv {
	height: 75%;
}

.modalTable th {
	border: none;
}

.modalTable tr {
	height: 40px;
}

.modalTable td {
	padding: 0px 5px;
}

.modalBtn {
	padding: 5px;
	border: none;
	font-size: 20px;
}

.modalBtn:hover {
	cursor: pointer;
}

#orderByList {
	text-align: right;
}

#orderBy {
	font-size: 15px;
	padding: 2px;
}

button:hover, input[type=radio] ~ label:hover, input[type=button]:hover, select:hover {
	cursor: pointer;
}