@charset "UTF-8";

section {
	display: inline;
	width: 70%;

}

#adminTitle {
	padding-top: 50px;
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
}

#search-container {
	padding-top: 20px;
	text-align: center;
}

#search-container button {
	padding: 5px 10px;
	background-color: #212E40;
	color: #fff;
	border-radius: 50px;
	border: none;
}

#admin-list {
	margin: 20px 0px;
	font-size: 15px;
}

.admin-list-table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #000;
    border-collapse: collapse;*/
}

.admin-list-table th {
	border-bottom: 1px solid #000;
	
}

.admin-list-table td {
	text-align: center;
}

.btnFrm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.memberBtn {
	margin: 2px;
	padding: 5px 10px;
	background-color: #212E40;
	color: #fff;
	border-radius: 50px;
	border: none;
}

.adminImage {
	width: 50px;
	border-radius: 50%;
}


input[type=number]::-webkit-inner-spin-button {
   opacity: 1;
}