#chatSection{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#chatContainer{
	width: 70%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

#msgContainer{
	width: 100%;
	height: 90%;
	overflow: scroll;
}

#msgEditor{
	width: 100%;
	height: 10%;
}

#chatMsgFrm{
	width: 100%;
	height: 100%;
	display: flex;
}

#msg{
	width: 80%;
	height: 100%;
	resize: none;
	box-sizing: border-box;
}

#send{
	width: 20%;
	box-sizing: border-box;
	color: #fff;
	background-color: #454a7b;
}

.line{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.left{
	margin: 10px 0;
	width: auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column
}

#message{
	border: 1px solid #000;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	font-size: 15px;
	box-shadow: 5px 5px 5px grey;
}

#chatTitle{
	text-align : center;
	font-size: 30px;
}