@font-face {
    font-family: Hanna;
    src: url(../fonts/BMHANNA_11yrs_otf.otf);
}

.fontStyle{
    font-family: Hanna !important;
}

body{
    width: 100%;
    margin: 0 auto;
    display : flex;
	flex-direction: column;
	align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#logo{
    width: 10%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#title{
    margin: auto;
    cursor: pointer;
}

#centerBox{
	width: 90%;
    height: 100%;
	display: flex;
    align-items: center;
}

#category{
	font-size: 20px;
    display: flex;
    align-items: center;
}

#category>div{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    width: 60px;
}

i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#category>div:hover{
    cursor: pointer;
    background-color: #fafafa;
}

.white{
    color: #fff !important;
}

.pointColor{
	color: #b92b27 !important;
}

.navBtn{
    cursor: pointer;
}

i.disselected{
    display: none;
}