@charset "UTF-8";

#counselingSection{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#counselingContainer{
	width: 70%;
	height: 80%;
}

#counselingTitle{
	text-align : center;
	font-size: 30px;
}

#counseilingCategory{
	margin: 20px 0;
}

#wrap {
    width: 100%;
}

.table{
    width: 100%;
    border-collapse: collapse;
    line-height: 24px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#thead {
	background: rgb(221, 221, 221);
}

.tr{
	width:100%;
	display: flex;
	border-top:1px solid #000;
	
}

.tr:last-child{
	width:100%;
	display: flex;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

.tr:hover{
	cursor: pointer;
	background: rgb(221, 221, 221);
}

.th, .td {
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
	width: 100px;
	height: 100px;
}

#noCounselingList{
	width: 100% !important;
	display: flex;
    align-items: center;
    justify-content: center;
}

/*페이지바*/
div#pagebar{margin-top:10px; text-align:center; background-color:rgb(221, 221, 221); }
div#pagebar span.cPage{margin-right: 5px;}
div#pagebar a{margin-right: 5px;}