@charset "UTF-8";

#counselingEnrollTitle{
 	text-align: center;
    justify-content: center;
    color: #5F5DA6;
    font-size: 25px;
    
}

#title-write{
  	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}

#title{
	font-size: 15px;
	
}

#content-write{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}

#content{
	font-size: 15px;
	
}

#age-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}

#gender-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}


#gender{
	
	
}

#anonymous-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}

#anonymous{
	
}




#write{
	
	
}


#category-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}

#category{

	
}



