@charset "UTF-8";

#counselingEnrollSection{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#counselingEnrollContainer{
	width: 70%;
	height: 80%;
}

#counselingEnrollTitle{
	text-align: center;
	font-size: 30px;
}

<<<<<<< HEAD
#counselingEnrollFrm{
	display: flex;
	align-items: center;
	justify-content: center;
=======
#title-write{
  	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
>>>>>>> branch 'master' of https://github.com/Jangcccci/comma.git
}

table{
	width: 100%;
}

<<<<<<< HEAD
select{
	width: 90%;
=======
#content-write{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
>>>>>>> branch 'master' of https://github.com/Jangcccci/comma.git
}

#content{
	width: 100%;
	height: 500px;
	padding: 6px;
	box-sizing: border-box;
	border: none;
	resize: none;
}

<<<<<<< HEAD
#content:focus{
	outline: none;
=======
#age-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
>>>>>>> branch 'master' of https://github.com/Jangcccci/comma.git
}

<<<<<<< HEAD
#counselingTitle{
	width: 100%;
	height: 45px;
	font-size: 25px;
	padding: 10px 6px;
	box-sizing: border-box;
	border: none;
=======
#gender-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
>>>>>>> branch 'master' of https://github.com/Jangcccci/comma.git
}

#counselingTitle:focus{
	outline: none;
}

<<<<<<< HEAD
#titleTd{
	border-bottom: 1px solid lightGray;
	border-top: 1px solid lightGray;
=======
#anonymous-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
>>>>>>> branch 'master' of https://github.com/Jangcccci/comma.git
}

#write{
	width: 50%;
	height: 50px;
	font-size: 25px;
	border: none;
	background-color: #454a7b;
	color: #fff;
	margin: auto;
}
<<<<<<< HEAD
=======


#category-choice{
	text-align: center;
    justify-content: center;
    color: #5350ac;
    font-size: 20px;
	
}

#category{

	
}



>>>>>>> branch 'master' of https://github.com/Jangcccci/comma.git
