#category>div:not(#toDiary)>i.selected{
    display: none;
}

#category>div:not(#toDiary)>i.disselected{
    display: inline;
}

#toDiary>i.selected{
    display: inline;
}

#toDiary>i.disselected{
    display: none;
}

section {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/* color: #454a7b; */
}

#diaryContainer{
	width: 70%;
	height: 100%;
}

#diaryTitle {
	margin-top: 50px;
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
    border-bottom: 1px solid #fff;
}


/* diaryList.jsp */

#inputBtn {
	display: flex;
	justify-content: flex-end;
}

.yearContainer{
	width: 100%;
	height: 40px;
	font-size: 20px;
	display: flex;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color:#454a7b;
	margin-top: 20px;
	color: #fff;
}

.yearContainer:hover{
	cursor: pointer;
}

#writeBtn {
	display: flex;
	padding: 10px;
	background-color: #454a7b;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 15px;
}

#writeBtn:hover {
	cursor: pointer;
}

#diarySec{
	display: flex;
}

#yearFilter{
	width: 20%;
	padding: 20px;
	box-sizing: border-box;
}

.yFilter:hover{
	cursor: pointer;
}

#didiary{
	width: 80%;
}

/* #diaryList {
	padding: 0px 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	padding: 30px 10px;
	text-align: left;
	font-size: 30px;
	margin: 0px;
	font-weight: bold;
}

#diaryListContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */

#diary {
	width: 100%;
	height: 200px;
	margin: 5px 0;
	padding: 15px;
	display: flex;
	border: 2px solid #454a7b;
	border-radius: 20px;
	box-sizing: border-box;
	
	/* -ms-overflow-style: none; IE 스크롤 숨기기
	scrollbar-width: none; 파이어폭스 스크롤 숨기기 */
}

#diary::-webkit-scrollbar {
	display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤 숨기기 */
}

#diary:hover {
	cursor: pointer;
}

#imgBox {
	text-align: center;
	height: 80%;
}

#diaryContent{
	width: 647px;
	padding: 10px;
	box-sizing: border-box;
}

.writeImg{
	width: 166px;
	height: 166px;
}

.writeDate {
	margin: 0px;
	font-size: 20px;
	text-align: left;
	padding: 5px 0px;
	font-weight: bold;
	color: #2b2b2b;
}

.writeContent {
	margin: 0px;
	height: 20%;
	font-size: 20px;
	text-align: left;
	padding: 5px 0px;
	color: #636363;
}

/* diaryEnroll */
#diaryEnrollBack {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#diaryEnrollModal, #diaryUpdateModal {
	position: relative;
	display: inline-block;
	width: 700px;
	height: 700px;
	top: 10%;
	text-align: center;
	background-color: #fff;
	border: none;
	border-radius: 25px;
	color: #454a7b;
}

#diaryUpdateModal {
	display: none;
}

#diaryEnrollTitle, #diaryUpdateTitle {
	padding: 30px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 0px;
	font-weight: bold;
	color: #454a7b;
	height: 10%;
	box-sizing: boder-box;
}

#diaryEnrollClose, #diaryUpdateClose {
	position: absolute;
	top: 35px;
	right: 30px;
	font-size: 20px;
}

#diaryEnrollClose:hover, #diaryUpdateClose:hover {
	cursor: pointer;
}

#diaryEnrollFrm, #diaryUpdateFrm {
	font-size: 20px;
	width: 100%;
	height: 80%;
}

#nowContent, #editContent {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
	text-align: left;
	border: 0;
	resize: none;
	background-color: rgba( 255, 255, 255, 0);
}

#nowContent:focus {
	outline: none;
}

#diaryUpdateFrmSubmit, #diaryDeleteFrmSubmit, #diaryUpdateModalBtn {
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 16px;
	color: #454a7b;
	border: 1px solid #363c61;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #272b45;
} 

#diaryUpdateFrmSubmit, #diaryDeleteFrmSubmit:hover {
	cursor: pointer;	
}

#enrollImage {
	text-align: left;
}

.enrollImage {
	width: 200px;
}

#enrollContent, #updateContent {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

/* #enrollDesign {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px 0px;
} */


#designTitle {
	padding: 10px 0px;
}


#designChoiceContent {
	display: flex;
}

#writeSubmit {
	background-color: #fff;
	padding: 15px 25px;
	color: #454a7b;
	border: none;
	border-radius: 10px;
	font-size: 20px;
}

#designChoiceModal {
	position: absolute;
	display: none;
	width: 300px;
	height: 300px;
	top: 15%;
	text-align: center;
	background-color: #fff;
	border: 3px solid #272b45;
	border-radius: 15px;
	color: #454a7b;
}

#designModalTitle {
	height: 73px;
	text-align: center;
	padding: 15px 0px;
	font-size: 20px;
	margin: 0px;
	font-weight: bold;
	color: #454a7b;
	box-sizing: border-box;
}

#designModalContent {
	font-size: 15px;
	height: 227px;
	padding: 0px 20px;
}

.designImage {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0);
	color: #454a7b;
	border: none;
}

.modal-close:hover {
	cursor: pointer;
}

#noDiary{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

#oneDiaryFlexBox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
}

#oneDiaryImg{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#enrollContent, #updateContent{
	width: 50%;
	height: 100%;
	overflow: scroll;
}

#editItemBox{
	text-align: right;
	padding: 10px;
	box-sizing: border-box;
	height: 10%;
}

#updateDiaryBtn{
	heigth: 10%;
	width: 100%;
}

i:hover{
	cursor: pointer;
}