@charset "UTF-8";

section {
	display: inline;
	width: 100%;
	/* color: #454a7b; */
}

#friendsTitle {
	padding-top: 50px;
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
}

#search-container {
	padding-top: 20px;
	text-align: center;
}

#searchNick {
	height: 30px;
}

#searchBtn {
	background-color: #fff;
	color: #454a7b;
	border: 3px solid #454a7b;
	font-size: 25px;
	padding: 5px 12px;
	border-radius: 5px;
}

#searchBtn:hover {
	cursor: pointer;
}

#friends-list {
	margin: 20px 0px;
	font-size: 25px;
}

#friends-list table {
	/* border: 1px solid #000; */
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.friends-list-table td {
	padding: 5px 0px;
}

.friends-list-table tr td:first-child {
	width: 100px;
}

.friends-list-table tr td:nth-child(2) {
	width: 200px;
}

.friendsImage {
	width: 50px;
	border-radius: 50%;
}

.friendsBtn {
	background-color: #253759;
	color: #fff;
	border: none;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 5px;
}