


section {
	display: inline;
	width: 100%;
    text-align: center;
}

#writeLetter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#writeLetterFrm {
	padding-top: 50px;
	padding-left: 200px;
	margin: auto;
	text-align: left;
}

table{
    width: 100%;
    /*table-layout: fixed;*/
}

table td {
	/*white-space: nowrap;*/
	padding: 10px;
}

table td:first-child {
	width: 70px;
}

table td:nth-child(2) {
	width: 220px;
}

table td:last-child {
	width: 250px;
}

#writerLetterTitle{
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
    border-bottom: 1px solid #fff;
}

.detailChoice {
	display: none;
	font-weight: bold;
}

.choiceDetail {
	color: #424242;
}

#content {
	padding: 5px;
	resize: none;
	border: 2px solid #454a7b;
}

#letterSubmit td {
	text-align: center;
}

#letterBtn {
	padding: 10px 10px;
	color: #fff;
	background-color: #454a7b;
	border: none;
	font-size: 20px;
	border-radius: 10px;
}

#letterBtn:hover {
	cursor: pointer;
}

#writeLetterFrm > fieldset{
    border: 0;
}