
section {
	display: inline;
	width: 100%;
    text-align: center;
	padding-top: 50px;
}

#letterTitle{
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
    border-bottom: 1px solid #fff;
}


/* letter.jsp */
#writeLetter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#writeLetterFrm {
	padding-left: 200px;
	margin: auto;
	text-align: left;
}

#writeLetterTable {
    width: 100%;
}

#writeLetterTable td {
	padding: 10px;
}

#writeLetterTable td:first-child {
	width: 80px;
}

#writeLetterTable td:nth-child(2) {
	width: 220px;
}

#writeLetterTable td:last-child {
	width: 250px;
}

.detailChoice {
	display: none;
	font-weight: bold;
}

.choiceDetail {
	color: #424242;
}

.letterImg {
	width: 30%;
}

.imgBtn {
	text-align: right;
}

#content {
	padding: 5px;
	resize: none;
	border: 2px solid #454a7b;
}

#letterSubmit td {
	text-align: center;
}

#letterBtn {
	padding: 10px 10px;
	color: #fff;
	background-color: #454a7b;
	border: none;
	font-size: 20px;
	border-radius: 10px;
}

#letterBtn:hover {
	cursor: pointer;
}

#writeLetterFrm > fieldset{
    border: 0;
}


/* letterList.jsp */
#letterSmallTitle {
	padding-top: 20px;
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.letterSmall {
	margin: 0px 10px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0);
	color: #5b5b5b;
	border: 1px solid #8c8c8c;
	border-radius: 50px;
	font-size: 20px;
}

.letterSmallClick {
	margin: 0px 10px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0);
	color: #253759;
	border: 3px solid #212E40;
	border-radius: 50px;
	font-size: 20px;
}

#letterList {
	padding-top: 20px;
}