
section {
	display: inline;
	width: 100%;
    text-align: center;
	padding-top: 50px;
}


 
#letterTitle{
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #454a7b;
    border-bottom: 1px solid #fff;
    font-family: Hanna !important;
}

input[type="checkbox"]:checked {
	background-color: #454a7b;
	border: none;
	color: #fff;
}


/* letter.jsp */
#writeLetter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#writeLetterFrm {
	padding: 0 30px;
	margin: auto;
	text-align: left;
	/*background-color: #bebebe;*/
}

#writeLetterTable {
    width: 100%;
}

#writeLetterTable tbody {
	padding-top: 20px;
}

#writeLetterTable td {
	padding: 10px;
}

#writeLetterTable td:first-child {
	width: 80px;
}

#writeLetterTable td:nth-child(2) {
	width: 220px;
}

#writeLetterTable td:last-child {
	width: 250px;
}

.detailChoice {
	display: none;
	font-weight: bold;
}

.choiceDetail {
	color: #424242;
}

.letterImg {
	width: 30%;
}

/*
#designChoice {
	opacity: 0;
	width: 0;
	height: 0;
}
*/

.designImg {
	cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
}

/*
.designTd input:checked + .designImg {
	outline: 2px solid #000;
}
*/

.imgBtn {
	text-align: right;
}

#content {
	padding: 5px;
	resize: none;
	border: 2px solid #454a7b;
}

#letterSubmit td {
	text-align: center;
}

#letterBtn {
	padding: 10px 10px;
	color: #fff;
	background-color: #454a7b;
	border: none;
	font-size: 20px;
	border-radius: 10px;
}

#letterBtn:hover {
	cursor: pointer;
}

#writeLetterFrm > fieldset{
    border: 0;
}


/* letterList.jsp */
#letterSmallTitle {
	padding-top: 20px;
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.letterSmall {
	margin: 0px 10px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0);
	color: #5b5b5b;
	border: 1px solid #8c8c8c;
	border-radius: 50px;
	font-size: 20px;
}

.letterSmallClick {
	margin: 0px 10px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0);
	color: #253759;
	border: 3px solid #212E40;
	border-radius: 50px;
	font-size: 20px;
}

#letterAllList {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.letterList {
	margin-top: 20px;
	padding: 10px 0px;
	width: 50%;
	background-color: #fdffb5;
	border-radius: 20px;
}

#letterListTitle table {
	width: 100%;
}

#letterListTitle table td {
	width: 100%;
}

.secondTd {
	padding-right: 10px;
	text-align: right;
}

.contentMore {
	text-decoration: none;
	color: #000;
}

.lastTd {
	width: 100%;
	text-align: right;
	padding: 0px 20px;
}

.letterListInfo {
	padding-left: 10px;
	width: 100%;
	text-align: left;
}

#letterListWriter {
	font-size: 20px;
}

#complainImg {
	width: 20px;
}

.letterDetailImg {
	width: 30%;
}