@charset "UTF-8";



section{
    /* background-image: url(../images/mypage.jpeg);
    background-size: cover;
    background-position: center; */
    background-color: #f5f6f7;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#enrollBox{
   height: 100%;
   padding-left: 5px;
   padding-right: 8px;
   padding-top: 20px;
   padding-bottom: 20px;
   
}

#enrollTitle{
    font-size: 40px;
    margin: 80px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



fieldset{
    border: 0;
    
}

table{
    border-spacing: 5px;
    height: 90%;
    
}

td{
    width: 200px;
}

.labelTd{
    color: #000;
    height: 15px;
    font-size: 17px;
    
}

.inputTd input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 2px;
}

.errorTd{
    height: 20px;
}




#info-change{
	
	
}

#leave-member{
	
	
}

