@charset "UTF-8";


 body {
        background-color: rgb(233, 233, 233);
 }


section{
    /* background-image: url(../images/mypage.jpeg);
    background-size: cover;
    background-position: center; */
    background-color: #f5f6f7;
    border: 10px solid #454a7b;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    

}

#enrollBox{
   height: 100%;
   padding-top: 40px;
   padding-bottom: 70px;
   
}

#enrollTitle{
    font-size: 40px;
    margin: 60px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}



fieldset{
    border: 0;
    margin: 10px 5px 25px;
 
    
    
    
}

table{
    border-spacing: 4px;
    height: 90%;
   
    
}

td{
    width: 200px;
  
}

.labelTd{
    color: #000;
    height: 15px;
    font-size: 17px;
    margin: 10px 5px 25px;
}

.inputTd input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 0.8em;
 
}

.errorTd{
    height: 20px;
}

#info-change{
	padding: 10px;
	background-color: #454a7b;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 20px;

}

#leave-member{
	padding: 10px;
	background-color: #454a7b;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 20px;

}

