@charset "UTF-8";

section{
	width: 70%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#questionDiv{
	width: 100%;
	height: 80%;
	overflow-y: auto;
	
	-ms-overflow-style: none; /* IE 스크롤 숨기기 */
	scrollbar-width: none; /* 파이어폭스 스크롤 숨기기 */
}

#questionDiv::-webkit-scrollbar {
	display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤 숨기기 */
}

#titleContainer{
	width: 100%;
	height: 120px;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 2px solid #454a7b;
}

#questionTitle{
	color: #454a7b;
	font-size: 35px;
	margin: 10px 0;
}

#smallBox{
	display: flex;
	height: 18px;
}

#editBox{
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#editBtn{
	margin-right: 5px;
}

.buttonStyle {
	background-color: #fff;
	border: 1px solid #454a7b;
	border-radius: 5px;
	width: 80px;
	height: 25px;
}

.buttonStyle:hover {
	cursor: pointer;
}

p{
	font-size: 14px;
	margin: 0;
	margin-right: 10px;
}

#questionContent{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 2px solid #454a7b;
}

#imgDiv{
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.img{
	width: 250px;
}

#commentBox {
	padding-top: 20px;
}

#commentContent{
	width: 100%;
	box-sizing: border-box;
	height: 100px;
	resize: none;
	padding: 20px;
}

#commentSubmitBox{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	border-bottom: 2px solid #454a7b;
	padding-bottom: 20px;
}

#commentEnrollBtn{
	width: 200px;
	height: 50px;
	border: 1px solid #454a7b;
	background-color: #fff;
}

#commentEnrollBtn:hover{
	cursor: pointer;
}

#tbl-comment{
	width: 100%;
}

.btnDiv{
	width: 200px;
	text-align: end;
}

.btn-delete, #btn-comment-enroll2{
	background-color: #fff;
	border: 1px solid #454a7b;
	border-radius: 5px;
	width: 80px;
	height: 25px;
}

.btn-delete:hover, #btn-comment-enroll2:hover{
	cursor: pointer;
}