body{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	 background: #f1edff;
}

#writeDiarySection {
	width: 66%;
}



#designChoiceModalBack {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}


#designChoiceModal {
	position: absolute;
	display: none;
	width: 300px;
	height: 300px;
	top: 15%;
	text-align: center;
	background-color: #fff;
	border: 3px solid #272b45;
	border-radius: 15px;
	color: #454a7b;
}

#designModalTitle {
	height: 73px;
	text-align: center;
	padding: 15px 0px;
	font-size: 20px;
	margin: 0px;
	font-weight: bold;
	color: #454a7b;
	box-sizing: border-box;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0);
	color: #454a7b;
	border: none;
}

.modal-close:hover {
	cursor: pointer;
}

#designModalContent {
	font-size: 15px;
	height: 227px;
	padding: 0px 20px;
}

table, tbody{
	height: 100%;
	width:100%;
}

#designModalContent td {
	padding: 5px 10px;
}

#designModalContent td:last-child {
	text-align: right;
}

.designImage {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.designBtn {
	background-color: #454a7b;
	color: #fff;
	border: 1px solid #363c61;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 1px 1px 1px #272b45;
}

.designBtn:hover {
	cursor: pointer;
}

#diaryEnrollFrm td:first-child {
	width: 250px;
}
#diaryEnrollFrm td:last-child {
	width: 100%;
}

#diaryEnrollFrm tr:nth-child(3) td {
	text-align: right;
}

#diaryEnrollFrm tr:last-child td {
	text-align: right;
	width: 100%;
	
}

#diaryEnrollFrmSubmit {
	padding: 10px 20px;
	background-color:#ffff;
	font-size: 20px;
	color: #454a7b;
	border: 1px solid #363c61;
	border-radius: 5px;
	box-shadow: 3px 4px 3px #272b45;
	padding: 5px 10px;
	margin:10px 0px;
	
} 


#diaryEnrollFrmSubmit:hover {
	cursor: pointer;
}


#diaryEnrollTitle{
	text-align: center;
	font-size:23px;
	border: 3px solid #381a8b;
}

.buttonStyle {
	background-color: #fff;
	border: 3px solid #454a7b;
	border-radius: 5px;
	/*width: 80px;
	height: 25px;*/
}

#nowContent{
  padding:8px 20px;
  text-align: left;
	
}

.buttonStyle:hover {
	cursor: pointer;
}

#file{
	display: none;
}

i:hover{
	cursor: pointer;
}

img{
	width: 260px;
	height: 260px;
	border: 5px solid #454a7b;
	border-radius: 0.8em;
	
}

#goBackBtn {
	width: 100%;
}

#goBack{
	margin:16px 0px;
	font-family: Hanna !important;
	font-size:20px;
	text-align:center;
	color: #454a7b !important; 
	border: 5px solid #454a7b;
	box-shadow: 3px 4px 3px #272b45;
	border-radius: 0.8em;
	padding:8px 20px;
	
	
}

#diaryEnrollTitle{
	padding:8px;
	font-family: Hanna !important;
	text-align:center;
	color: #ffff !important; 
	border: 3px solid #454a7b;
	border-radius: 0.8em;
	background-color: #454a7b;
	
}
	
#nowContent{
	border: 6px solid #454a7b;	
	border-radius: 0.7em;
	width: 95%;

}

#fontChoice{
	font-family: Hanna !important;
	text-align:center;
	color: #454a7b !important; 
	border:3px solid #454a7b;
	border-radius: 0.6em;
	background-color:#ffff;
	padding:6px 0px;
	
}

#nowDate{
	font-family: Hanna !important;
	text-align:center;
	color: #454a7b !important; 
	border:3px solid #454a7b;
	border-radius: 0.6em;
	background-color:#ffff;
	padding:5px 0px;
	margin:16px 0px;
	box-shadow: 3px 4px 3px #272b45;
}
	