#designChoiceModalBack {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}


#designChoiceModal {
	position: absolute;
	display: none;
	width: 300px;
	height: 300px;
	top: 15%;
	text-align: center;
	background-color: #fff;
	border: 3px solid #272b45;
	border-radius: 15px;
	color: #454a7b;
}

#designModalTitle {
	height: 73px;
	text-align: center;
	padding: 15px 0px;
	font-size: 20px;
	margin: 0px;
	font-weight: bold;
	color: #454a7b;
	box-sizing: border-box;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0);
	color: #454a7b;
	border: none;
}

.modal-close:hover {
	cursor: pointer;
}

#designModalContent {
	font-size: 15px;
	height: 227px;
	padding: 0px 20px;
}

table, tbody{
	height: 100%;
}

#designModalContent td {
	padding: 5px 10px;
}

#designModalContent td:last-child {
	text-align: right;
}

.designImage {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.designBtn {
	background-color: #454a7b;
	color: #fff;
	border: 1px solid #363c61;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 1px 1px 1px #272b45;
}

.designBtn:hover {
	cursor: pointer;
}

#diaryEnrollFrm tr:nth-child(3) td {
	text-align: right;
}

#diaryEnrollFrm tr:last-child td {
	text-align: center;
}

#diaryEnrollFrmSubmit {
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
	color: #454a7b;
	border: 1px solid #363c61;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #272b45;
} 

#diaryEnrollFrmSubmit:hover {
	cursor: pointer;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#diaryEnrollTitle{
	text-align: center;
}

.buttonStyle {
	background-color: #fff;
	border: 1px solid #454a7b;
	border-radius: 5px;
	width: 80px;
	height: 25px;
}

.buttonStyle:hover {
	cursor: pointer;
}

#file{
	display: none;
}

i:hover{
	cursor: pointer;
}

img{
	width: 300px;
	height: 300px;
}
